html {
    background-color: #e3e3e3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background-color: #ffffff;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    text-indent: 30px;
}

/*This is an ID*/
#blog {

}

/*This is a class*/
.blog-post {
    border-bottom: 3px dotted #cccccc;
}

th {
    text-emphasis: bold;
}

.seperator {
    border-bottom: 2px dotted blue;
}

.nav-bar {
    background-color: lightgreen;
    position: sticky;
    top: 0px;
}

.img-float {
    float: right;
}

img {
    max-width: 100%;
    height: auto;
}

.flex-layout {
    display: flex;
}

@media (max-width: 400px) {
    img {
        max-width: 50%;
        height: auto;
    }
}